<div class="container">
  <div class="text-center m-5">
      <hr>
      <h1>
          {{ titulo }}
      </h1>
      <hr>
  </div>

<main>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
       

        <h2 class="fw-normal">Personal Trainer</h2>
        <p>Entrenamiento personalizado en base a tus necesidades, tu disponibilidad horaria y a los objetivos que desees alcanzar.</p>
      <p><a class="btn btn-lg btn-primary" href="./crearusuario">Anotate!</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <h2 class="fw-normal">Spinning</h2>
        <p>Actividad divertida con música y encima de la bicicleta, adaptada al nivel de preparación física de cada uno.</p>
        <p><a class="btn btn-lg btn-primary" href="./crearusuario">Anotate!</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <h2 class="fw-normal">Yoga</h2>
        <p>Una práctica que conecta el cuerpo, la respiración y la mente con posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.</p>
        <p><a class="btn btn-lg btn-primary" href="./crearusuario">Anotate!</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</main>